<% if notice %>
    <aside id="notice"> <%= notice %> </aside>
<% end %>


<ul class="catalogue"> 
    <% @products.each do |product| %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <%= image_tag(product.image.thumb.url) %>
                </div>
                <div class="col-6">
                    <h2> <%= product.title %> </h2>
                    <h4> <%= product.user.first_name + " " + product.user.last_name %> </h4>
                    <h6> <%= product.description %> </h6>
                    <div class="price">
                        <%= number_to_currency(product.price) %>
                    </div>
                   
                </div>
                <div class="col">
                    <%= button_to 'Add to Cart', line_items_path(product_id: product),class: 'btn btn-dark' %>
                </div>
            </div>
        </div>
    <% end %>
</ul>



