<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1> Your Products </h1>
    </div>
    <div class="col-lg-6>">
      <%= search_form_for @search do |f| %>
          <div class="form-inline" id="product_search">
            <%= f.label :title_cont %>
            <%= f.text_field :title_cont, class:"form-control" %>
            <%= f.submit "Search", class: 'btn btn-dark' %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    <%= link_to 'Create New product', new_product_path, class: 'btn btn-dark' %>
    </div>  
  </div>

<% @products.each do |product| %>
    <div class="row" id="products">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <%= image_tag(product.image.thumb.url, class: 'list_image') %>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
          <h1><%= product.title %></h1> 
          <p> <%= strip_tags(product.description) %> </p>  
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= link_to 'View', product, class: 'btn btn-dark'%>
        <%= link_to 'Edit', edit_product_path(product),class: 'btn btn-dark' %>
        <%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-dark'%>
      </div>
    </div>
<% end %> 

</div>

